header{

    background-color: #53585C;
    color: #A6D8F5;
    margin:auto;
    height: 75px;
    border-radius: 0%;
    
}

html, body {
    height: 100%;
    margin: auto;
    text-align: center;
    background-image: 
   		url("https://img.freepik.com/vektoren-premium/stacheldraht-set-zaeune-starke-scharfkantige-elemente-die-um-kunstmuster-verdreht-sind-industrielles-stacheldraht-schutzkonzept-design-moderne-metallische-scharfe-elemente-fuer-den-bereichsschutz_87946-4815.jpg");	
		   background-repeat: repeat-x;
           background-size: cover;
   animation: smoke 10s linear infinite;		
   @media screen and (max-width: 600px) 

}




@keyframes smoke{
	from { background-position: 0px 20px}
	to { background-position: 600px 20px}
}


h1{
    
    
    text-align: center;
    font-family: Ysabeau SC, sans-serif;
    font-size: 5em; line-height: 0.5em;
    margin: 0.3em 0.3em 1em 0.3em;
    color: #A6D8F5;
    text-shadow: 
      rgba(0,0,0,0.5) -1px 0, 
      rgba(0,0,0,0.3) 0 -1px, 
      rgba(7, 7, 7, 0.5) 2px 2px, 
      rgba(0,0,0,0.3) -1px -2px;

}





figure{
    display: grid;
    gap: 300px;
    display: inline-block;
  }
 
  .pushable {    
    position: relative;
    top: 100;
    left: 500;
    border: none;  
    background: transparent;
    padding: 0;  
    cursor: pointer; 
    outline-offset: 4px; 
    transition: filter 250ms;  
}

.shadow { 
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #53585C ;
    will-change: transform; 
    transform: translateY(2px);
    transition:      transform      600ms      cubic-bezier(.3, .7, .4, 1);  
}

.edge {   
     position: absolute;
     top: 0; 
     left: 0; 
     width: 100%;
     height: 100%;
     border-radius: 12px; 
     background: linear-gradient(      to left, #2778A8   );
    } 
    
    .front { 
        display: block;  
        position: relative; 
        padding: 12px 42px;  
        border-radius: 12px; 
        font-size: 1.25rem; 
        color: white;  
        font-family: Ysabeau SC, sans-serif;
        background: black;
        will-change: transform; 
        transform: translateY(-4px); 
        transition:      transform      600ms      cubic-bezier(.3, .7, .4, 1);  
    } 
    
    .pushable:hover {  
        filter: brightness(110%);
      } 
      
      .pushable:hover .front {  
        transform: translateY(-6px);  
        transition:      transform      250ms      cubic-bezier(.3, .7, .4, 1.5); 
     } 

     .pushable:active .front { 
        transform: translateY(-2px);
        transition: transform 34ms; 
     } 
     
     .pushable:hover .shadow { 
        transform: translateY(4px);
        transition:      transform      250ms      cubic-bezier(.3, .7, .4, 1.5);
    }  
    
    .pushable:active .shadow { 
        transform: translateY(1px); 
        transition: transform 34ms; 
    }  
    
    .pushable:focus:not(:focus-visible) { 
        outline: none;
      }
  


footer{
   
    background-color: #53585C;
   width: 100;
      color: #A6D8F5;
}